*{
    word-spacing: 2px;
    font-size: 25px;
}
#table, tr, td, th{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 5px solid;
    width: fit-content;
}
.main{
    margin: 2px 3px;
    border:6px solid #ff0000;
    background-color: #74b674;
    color: #000000;
    }